.row.admin-panel
  .large-2.columns.small-3
    =image_tag product.image.url

  .large-10.columns
    .left
      %h2= link_to product.name, store_admin_product_path(@store.path, product.id)
      %p= product.description
    .right
      =link_to 'Edit', store_admin_edit_product_path(@store.path, product.id), class: "button right"
      %br
      
      %br
      =link_to 'Delete', store_admin_delete_product_path(@store.path, product.id), method: :delete, class: "button right", :data => { :confirm => 'Sure you want to delete product?' }