%h1 Store Directory

%table
  %tr
    %th.left Store Name
    %th

  - @stores.each do |store|
    %tr
      %td= link_to store.name, home_path(store)
      %td= image_tag('http://placekitten.com/50/50')

%br

= link_to 'New Store', new_store_path
