%h1 Welcome to Son of Sam 
%hr
%h3 Create an online business in minutes!
%hr
%h3=link_to "See Store Examples Here!", stores_path
%hr
= link_to 'Create Store', new_store_path, class: "button left"
%hr
= image_tag "http://bimg1.mlstatic.com/loja-virtual-gratis-so-ganhamos-se-voc-ganhar_MLB-F-3941809191_032013.jpg"
