.row.admin-panel
  .large-2.columns.small-3
    =image_tag product.photo_url

  .large-10.columns
    .left
      %h2= link_to product.name, store_stocker_product_path(@store.path, product.id)
      %p= product.description
      /%a= link_to Category.find(product.category_id), categories_path
    .right
      -#%h2= "#{number_to_currency(@store.path, product.price)}"
      =link_to 'Edit', store_admin_edit_product_path(@store.path, product.id), class: "button right"
    %br


