%h1= "#{@store.name} Product Listing:"

.large-12.columns
  .row
    .large-12.columns
      = link_to "New Product", store_stocker_new_product_path(@store.path), method: "GET", class: "button right"
      %h1.admin-heading Products
.row
  .large-12.columns
    = render @products
