%h1 Listing Categories

- @categories.each do |category|
  .large-2.columns.panel.radius{style: "margin-right:10px;"}
    %h2= category.name
    %p
      %strong
        = link_to "(Preview)", admin_category_path(current_store, category), class: "tiny"
        = link_to '(Destroy)', admin_category_path(current_store, category), :method => :delete, :data => { :confirm => 'Are you sure?' }
