<div class="fake_page">
  <h2>CSS Preview Page:</h2>
  <!-- Navigation -->
  <div class='row'>
    <div class='large-12 columns'>
      <nav class='top-bar'>
        <ul class='title-area'>
          <!-- Title Area -->
          <li class='name'>
            <h1>
              <a href="#">Store Name</a>
            </h1>
          </li>
        </ul>
        <section class='top-bar-section'>
          <!-- Right Nav Section -->
          <ul class='right'>

            <li><a href="#">Products</a></li>
            <li class='has-dropdown'>
              <a href="#" id="category-dropdown">Shop By Category <i class='icon-angle-down'></i></a>
              <ul class='dropdown'>
                <li><a href="#">Category 1</a></li>
                <li><a href="#">Category 2</a></li>
                <li><a href="#">Category 3</a></li>
                <li><a href="#">Category 4</a></li>
                <li><a href="#">Category 5</a></li>
                <li><a href="#">Category 6</a></li>
                <li><a href="#">Category 7</a></li>
                <li><a href="#">Category 8</a></li>
              </ul>
              <li>
                <a href="#"><i class='icon-shopping-cart'></i> Cart</a>
              </li>
            </li>
            <li class='has-dropdown'>
              <a href="#"><i class='icon-user'></i> UserName <i class='icon-angle-down'></i></a>
              <ul class='dropdown'>
                <li><a href="#">Account</a></li>
                <li><a href="#">Orders</a></li>
                <li class='divider'></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </li>
          </ul>
          <!-- End Top Bar -->
        </section>
      </nav>
    </div>
  </div>
  <!-- End Navigation -->
  <!-- Products -->
  <div class='row'>
    <div class='large-12 columns'>
      <div class='row'>

        <div class='large-4 small-6 columns left' id='product-wrapper-0'>
          <div class='cart-hidden-0'>
            <p class='product-stock left'>375 in stock</p>
            <form accept-charset="UTF-8" action="#" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="h4ghEXKsI7fqwkCCHo4NB4HMDx6mS18vPExvJGg1Q8A=" /></div>
                      <input id="product" name="product" type="hidden" value="163" />
                      <input id="quantity" name="quantity" type="hidden" value="1" />
                      <input id="store_id" name="store_id" type="hidden" value="10" />
                      <input class="button right hover" name="commit" type="submit" value="Add to Cart" />
            </form>
          </div>
          <a href="#" class="product-image-0" id="product-0"><img alt="Gloves" src="/system/products/images/000/000/163/original/gloves.jpg?1367274162" /></a>
          <div class='panel'>
            <h5><a href="#">Orval Fisher DDS</a></h5>
            <h6 class='subheader'>$306.00</h6>
          </div>
        </div>

        <div class='large-4 small-6 columns left' id='product-wrapper-1'>
          <div class='cart-hidden-1'>
            <p class='product-stock left'>304 in stock</p>
            <form accept-charset="UTF-8" action="#" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="h4ghEXKsI7fqwkCCHo4NB4HMDx6mS18vPExvJGg1Q8A=" /></div>
                      <input id="product" name="product" type="hidden" value="164" />
                      <input id="quantity" name="quantity" type="hidden" value="1" />
                      <input id="store_id" name="store_id" type="hidden" value="10" />
                      <input class="button right" name="commit" type="submit" value="Add to Cart" />
            </form>
          </div>
          <a href="#" class="product-image-1" id="product-1"><img alt="Hammock_tent" src="/system/products/images/000/000/164/original/hammock_tent.jpg?1367274163" /></a>
          <div class='panel'>
            <h5><a href="#">Roxane Spinka DVM</a></h5>
            <h6 class='subheader'>$175.00</h6>
          </div>
        </div>
        <div class='large-4 small-6 columns left' id='product-wrapper-2'>
          <div class='cart-hidden-2'>
            <p class='product-stock left'>272 in stock</p>
            <form accept-charset="UTF-8" action="#" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="h4ghEXKsI7fqwkCCHo4NB4HMDx6mS18vPExvJGg1Q8A=" /></div>
                      <input id="product" name="product" type="hidden" value="165" />
                      <input id="quantity" name="quantity" type="hidden" value="1" />
                      <input id="store_id" name="store_id" type="hidden" value="10" />
                      <input class="button right" name="commit" type="submit" value="Add to Cart" />
            </form>
          </div>
          <a href="#" class="product-image-2" id="product-2"><img alt="Blue_ball_pack" src="/system/products/images/000/000/165/original/blue_ball_pack.jpg?1367274163" /></a>
          <div class='panel'>
            <h5><a href="#">Deborah Mann</a></h5>
            <h6 class='subheader'>$125.00</h6>
          </div>
        </div>
        <div class='large-4 small-6 columns left' id='product-wrapper-3'>
          <div class='cart-hidden-3'>
            <p class='product-stock left'>174 in stock</p>
            <form accept-charset="UTF-8" action="#" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="h4ghEXKsI7fqwkCCHo4NB4HMDx6mS18vPExvJGg1Q8A=" /></div>
                      <input id="product" name="product" type="hidden" value="166" />
                      <input id="quantity" name="quantity" type="hidden" value="1" />
                      <input id="store_id" name="store_id" type="hidden" value="10" />
                      <input class="button right" name="commit" type="submit" value="Add to Cart" />
            </form>
          </div>
          <a href="#" class="product-image-3" id="product-3"><img alt="Blacker_pack" src="/system/products/images/000/000/166/original/blacker_pack.jpg?1367274164" /></a>
          <div class='panel'>
            <h5><a href="#">Candelario Hettinger</a></h5>
            <h6 class='subheader'>$325.00</h6>
          </div>
        </div>
        <div class='large-4 small-6 columns left' id='product-wrapper-4'>
          <div class='cart-hidden-4'>
            <p class='product-stock left'>91 in stock</p>
            <form accept-charset="UTF-8" action="#" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="h4ghEXKsI7fqwkCCHo4NB4HMDx6mS18vPExvJGg1Q8A=" /></div>
                      <input id="product" name="product" type="hidden" value="167" />
                      <input id="quantity" name="quantity" type="hidden" value="1" />
                      <input id="store_id" name="store_id" type="hidden" value="10" />
                      <input class="button right" name="commit" type="submit" value="Add to Cart" />
            </form>
          </div>
          <a href="#" class="product-image-4" id="product-4"><img alt="Flipper_kit" src="/system/products/images/000/000/167/original/flipper_kit.jpg?1367274164" /></a>
          <div class='panel'>
            <h5><a href="#">Arlo Ullrich</a></h5>
            <h6 class='subheader'>$28.00</h6>
          </div>
        </div>
        <div class='large-4 small-6 columns left' id='product-wrapper-5'>
          <div class='cart-hidden-5'>
            <p class='product-stock left'>158 in stock</p>
            <form accept-charset="UTF-8" action="#" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="h4ghEXKsI7fqwkCCHo4NB4HMDx6mS18vPExvJGg1Q8A=" /></div>
                      <input id="product" name="product" type="hidden" value="168" />
                      <input id="quantity" name="quantity" type="hidden" value="1" />
                      <input id="store_id" name="store_id" type="hidden" value="10" />
                      <input class="button right" name="commit" type="submit" value="Add to Cart" />
            </form>
          </div>
          <a href="#" class="product-image-5" id="product-5"><img alt="Camel_pack" src="/system/products/images/000/000/168/original/camel_pack.jpg?1367274164" /></a>
          <div class='panel'>
            <h5><a href="#">Esther Braun</a></h5>
            <h6 class='subheader'>$175.00</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Products -->
  <!-- CSS Changer JS -->
  <script>
    $(document).ready(function(){
      $("#store_button_color").focusout(function(){
        $(".button").css({"background-color":this.value});
      })
      $("#store_background_color").focusout(function(){
        $("body").css({"background-color":this.value});
      })
      var hover_color = "darkblue";
      $("#store_button_color_hover").focusout(function(){
        hover_color = this.value;
      })
      $('.hover').hover(function() {
        $(this).css({"background-color":hover_color});
      });



      $("#store_text_color").focusout(function(){
        $("body, a, h2, h4, .breadcrumbs li a, .breadcrumbs li.current a, input.button, input.button:hover, .top-bar .name h1 a, .top-bar-section li a:not(.button), .left, .panel h6, .sub-tagline, .tagline, .section-heading, input.button.small, .panel a, a:focus, a.home-link").css({"color":this.value});
      })
      /*
      product layout
      text font
      custom css*/
    });
  </script>
  <!-- End CSS Changer JS -->
  <!-- Products Button JS -->
  <script>
    $(document).ready(function(){
      $('[id^="product-wrapper"]').hover(function(){
        var className = $(this).children('[class^="cart-hidden"]').attr('class');
        var classIndex = className.match(/\d+/);
        $('.cart-hidden-'+classIndex).addClass("cart-visible");
        },
        function() {
        var className = $(this).children('[class^="cart-hidden"]').attr('class');
        var classIndex = className.match(/\d+/);
        $('.cart-hidden-'+classIndex).removeClass("cart-visible");
      });
      $('#category-dropdown').click(function() {
        return false;
      });
    });
  </script>
  <!-- EndProducts Button JS -->
</div>
