.large-12.columns
  .row.admin-panel
    %table
      %tr
        %th Customer
        %th Order Total
        %th Order Date & Time
        %th Customer Email
        %th Order Products
        %th Status
        %tr
          %td= @testing_orders
      

.large-12.columns
  .row
    .large-12.columns
      = link_to 'Back', "/"
