- if notice
  .large-12.columns
    %p#notice
      = notice 

.large-8.columns.left
  %h5.right= link_to "Continue Shopping", categories_path, class: "button"
  %h2.admin-heading Products
  =render 'product'
.large-4.columns.right
  =render 'summary'