%p#notice
  = notice 

%p
.large-8.columns.left
  %h2 Your Cart
  %hr
  =render 'product'
  %h5.left= link_to "Clear Cart", cart_path(@cart.id), method: :delete, confirm: "Do you really want to clear your cart?", class: "button secondary round"
  %h5.right= link_to "Continue Shopping", categories_path, class: "button round secondary"
.large-4.columns.right
  =render 'summary'