.large-12.columns
  .row
    .large-12.columns
      %h1.admin-heading New Shipping Address

.large-12.columns
  .row.admin-panel
    = render 'form'

.large-12.columns
  = link_to 'Back', shipping_addresses_path, class: "button left"
