!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Your store has been activated! 
    %p
      You may log in to add products and start selling. 
