!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      You have been removed as a Store Admin or Stocker from
      = @store.name
    %p
      Thanks for nothing.
