!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to Obiwear,
    %p
      Your username is: #{@customer.username}.
    %p
      To login to the site, just follow this link: #{@url}.
    %p 
      Thank you and may the force be with you,
    %p
      The Obi Team. 