.row
  .large-8.columns
    .row
      .large-4.columns
        =link_to "Back to Admin", store_admin_path(current_store), class:"button"
.row
  .large-8.columns
    .row
      .large-4.columns
        = link_to "EDIT THIS PHOTO", edit_background_image_path(current_store,@background_image), class:'button'
      .large-4.columns
        %h3
          = @background_image.photo_file_name
.row
  = image_tag @background_image.photo.url
