.large-12.columns
  .row
    .large-12.columns
      = link_to 'New Category', new_admin_category_path, class: "button right"
      %h1.admin-heading= "Categories"

.large-12.columns
  .row.admin-panel
    = render @categories