.row.admin-panel
  .large-2.columns.small-3
    =image_tag product.photo_url
  .large-10.columns
    .left
      %h2= link_to product.name, product_path(product)
      %p= product.description
      /%a= link_to Category.find(product.category_id), categories_path
    .right
      %h2= "#{number_to_currency(product.price)}"
      =link_to 'Edit', edit_admin_product_path(product), class: "button right"
      %br
      =link_to 'Delete', admin_product_path(product), method: :delete, class: "button right", :data => { :confirm => 'Sure you want to delete product?' }