.large-12.columns
  .row
    .large-12.columns
      = link_to 'Back', admin_products_path, class: "button right"
      %h1.admin-heading Edit product
.row
  .large-12.columns
    .admin-panel
      = render 'form'