/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
@import "foundation";
@import "font-awesome";

 // *= require foundation_and_overrides
 //= require foundation_and_overrides
body {
  margin-top: 3em !important;
}
.top-bar {
  box-shadow: 1px 1px 5px #333;
}

.top-bar-section ul li{
 text-transform: uppercase;
}
.top-bar-section li a:not(.button) {
  font-weight:normal;
}
.top-bar-section ul li a:hover,
.name h1 a:hover {
  color: white !important;
}
.top-bar-section ul li a:active {
  color: silver;
}
.top-bar-section .has-dropdown > a:after {
  display:none !important;
}
.row {
  max-width: 98em !important;
}
.row .row {
  margin-left:auto !important;
  margin-right:auto !important;
}

.section-heading{
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 1.5em;
}

select.options{
  width: 80px;
}

.content{
  margin-top: 2em !important;
}
ul.home-list {
  margin-top:10em;
  list-style-type: none;
  width: 10em;
  margin-left:auto;
  margin-right:auto;
}
a.home-link {
  color: #fff !important;
  font-size:1.5em;
  text-transform: uppercase;
}
/***************************************
Full Screen Slideshow
***************************************/
/*

  Supersized - Fullscreen Slideshow jQuery Plugin
  Version : 3.2.7
  Site  : www.buildinternet.com/project/supersized
  
  Author  : Sam Dunn
  Company : One Mighty Roar (www.onemightyroar.com)
  License : MIT License / GPL License
  
*/
img { border:none; }

#supersized-loader { position:absolute; top:50%; left:50%; z-index:0; width:60px; height:60px; margin:-30px 0 0 -30px; text-indent:-999em; background:url(../img/progress.gif) no-repeat center center;}

#supersized {  display:block; position:fixed; left:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%; }
#supersized img { width:auto; height:auto; position:relative; display:none; outline:none; border:none; }
#supersized.speed img { -ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges; } /*Speed*/
#supersized.quality img { -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }     /*Quality*/

#supersized li { display:block; list-style:none; z-index:-30; position:fixed; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#111; }
#supersized a { width:100%; height:100%; display:block; }
#supersized li.prevslide { z-index:-20; }
#supersized li.activeslide { z-index:-10; }
#supersized li.image-loading { background:#111 url(../img/progress.gif) no-repeat center center; width:100%; height:100%; }
#supersized li.image-loading img{ visibility:hidden; }
#supersized li.prevslide img, #supersized li.activeslide img{ display:inline; }

/****************************************
Index
****************************************/

.hero {
  width: 45em;
  margin-left: auto;
  margin-right:auto;
  margin-top: 17%;
}
.tagline {
  color: #fff;
  font-family: 'Amatic SC', cursive;
  font-size: 6em;
  margin-bottom: 0em;
  text-align:center;
  box-shadow: 1px 1px 1px #000;
}
hr#tagline {
  color: #fff;
  margin: 0;
  border: 2px solid #fff;
  margin-bottom: 1.3em;
}
.sub-tagline {
  color: #fff;
  font-family: "Questrial", "Helvetica", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align:center;
}
[class^="cart-hidden"] {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  bottom: 7.5em;
  width: 94.2%;
  display:none;
}
.cart-visible {
  display:block !important;
}