/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
@import "foundation";
@import "font-awesome";

 // *= require foundation_and_overrides
 //= require foundation_and_overrides
body {
  margin-top: 3em !important;
}
.top-bar {
  box-shadow: 1px 1px 5px #333;
}

.top-bar-section ul li{
 text-transform: uppercase;
}
.top-bar-section li a:not(.button) {
  font-weight:normal;
}
.top-bar-section ul li a:hover,
.name h1 a:hover {
  color: white !important;
}
.top-bar-section ul li a:active {
  color: silver;
}
.top-bar-section .has-dropdown > a:after {
  display:none !important;
}
.row {
  max-width: 98em !important;
}

.section-heading{
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 1.5em;
}

select.options{
  width: 80px;
}