/ %p#notice= notice
/ = @category.name
/ = @category.description
/ - @category.products.each do |product|
/   = product.name
/   = product.description
/   = product.price
/ = link_to 'Edit', edit_category_path(@category)
/ |
/ \#{link_to 'Back', categories_path}

=image_tag "obie_head.jpg"

.row
  %h2.section-heading
    Featured

.row
  / Thumbnails
  .large-12.columns
    .row
      - @products.first(6).each do |product|
        .large-2.small-6.columns
          %img{:src => "http://placehold.it/1000x1000&text=Thumbnail"}/
          .panel
            %h5= link_to product.name, product_path(product)
            %h6.subheader= product.price