/ %h1 Listing products
/ %table
/   %tr
/     %th
/     %th
/     %th
/   - @products.each do |product|
/     %tr
/       %td
/         %p= product.name
/       %td
/         %p= product.description
/     %tr
/       %td= link_to 'Show', product
/       %td= link_to 'Edit', edit_product_path(product)
/       %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }
/ %br/
/ = link_to 'New Product', new_product_path

=image_tag "obie_head.jpg"

.row
  %h2.section-heading
    Featured

.row
  / Thumbnails
  .large-12.columns
    .row
      .large-2.small-6.columns
        %img{:src => "http://placehold.it/1000x1000&text=Thumbnail"}/
        .panel
          %h5 Pants
          %h6.subheader $100.00
      .large-2.small-6.columns
        %img{:src => "http://placehold.it/500x500&text=Thumbnail"}/
        .panel
          %h5 shorts
          %h6.subheader $50.00
      .large-2.small-6.columns
        %img{:src => "http://placehold.it/500x500&text=Thumbnail"}/
        .panel
          %h5 obie's undies
          %h6.subheader $400.00
      .large-2.small-6.columns
        %img{:src => "http://placehold.it/500x500&text=Thumbnail"}/
        .panel
          %h5 hats
          %h6.subheader $40.00
      .large-2.small-6.columns
        %img{:src => "http://placehold.it/500x500&text=Thumbnail"}/
        .panel
          %h5 shoes
          %h6.subheader $300.00
      .large-2.small-6.columns
        %img{:src => "http://placehold.it/500x500&text=Thumbnail"}/
        .panel
          %h5 more shoes
          %h6.subheader $200.00

  