%h2 Thanks for shopping with us.</br> You should receive your order in about 2 days.
%h4 Please check your email for the confirmation receipt.

%h3
  You successfully purchased:
  = succeed "!" do
    %strong= "Thanks!"
