!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Son of Sam ecommerce stores
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "ecommerce stores"}/
    %meta{:content => "", :name => "gschool students"}/
    %link{:href => "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css", :rel => "stylesheet"}/
    %script{:src => "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"}
    %body
      .container
        %ul.nav
          %li link to home
          %li link somewehre
      .container
        %h1 
          = yield
      .container
        = render partial: "layouts/footer"
